<nav>
    <div class="site-title">
      <a href="/"><h1>QR Generator</h1></a>
      <p>A free site</p>
    </div>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/qr/create">Generate QR</a></li>
    </ul>
  </nav>