<html lang="en">
<%- include("./partials/head.ejs") %>
<body>
    <%- include("./partials/nav.ejs") %>

    
    <div class="wrapper-home">
        <h3>Generate QR codes</h3>
        <div class="main">
            <p>
                This web app allows to generate qr codes for anything
                    <li><b>Images</b></li>
                    <li><b>String/Text</b></li>
                    <li><b>Web Site Url</b></li>
            </p>
            <p>
                This is perfect for generating quick qr codes by just clicking a button.
                <em>For now ,</em> you can save the generated <b>QR code</b> by right clicking
                and then selecting the save/download image option.
            </p>
            <p>
                <b>Note: </b>
            </p>
            <p class="note-content">
                Save button for saving the qr code is postponed to be done later
            </p>
        </div>
        
    </div>

    

    <%- include("./partials/footer.ejs") %>

</body>
</html>